// .container {
//   // background:linear-gradient(44deg, rgba(255, 255, 255, 1) 0%, rgba(0, 226, 255, 0.12) 79%, rgba(255, 255, 255, 1) 100%);
//   background: white;

//   margin: 0px;
//   min-height: 100vh;
//   // padding: 0 0.5rem;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

.cursive {
  font-family: 'Rubik', sans-serif;
  font-family: 'Rubik Beastly', cursive;
  font-family: 'Sacramento', cursive;
  font-family: 'Satisfy', cursive;
}